<?xml version="1.0" ?>
<model>
    <name>shelf_big</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Filipe Almeida</name>
        <email>filipe.almeida@mov.ai</email>
    </author>
    <description>Bigger version of the simple shelf to use in warehouse worlds</description>
</model>
