<?xml version="1.0"?>

<model>
  <name>tugbot</name>
  <version>3.0.0</version>
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Filipe Almeida</name>
    <email>filipe.almeida@mov.ai</email>
  </author>


  <maintainer email="filipe.almeida@mov.ia">Filipe Almeida</maintainer>


  <description>
    Tugbot robot model to work in Ignition simulator
  </description>
</model>
