<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="pioneer3dx">

  <!-- Obtain launch file arguements -->
  <xacro:arg name="robot_namespace" default="/" />
  <xacro:arg name="camera_enabled" default="true" />
  <xacro:arg name="lidar_enabled" default="true" />
  <xacro:arg name="odometry_source" default="encoders" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find p3dx_description)/urdf/materials.xacro" />

  <!-- Import robot -->
  <xacro:include filename="$(find p3dx_description)/urdf/p3dx/pioneer3dx_body.xacro" />
  <xacro:pioneer3dx_body name="chassis" parent="base_link"
    meshes="file://$(find p3dx_description)/meshes/p3dx" robot_namespace="$(arg robot_namespace)"
    odometry_source="$(arg odometry_source)" />

  <!-- Laser  -->
  <xacro:if value="$(arg lidar_enabled)">
    <xacro:include filename="$(find p3dx_description)/urdf/laser/hokuyo.xacro" />

    <xacro:laser name="laser0" parent="chassis" xyz="0.16 0.0 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan0"/>

    <xacro:laser name="laser1" parent="chassis" xyz="0.16 0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan1"/>

    <xacro:laser name="laser2" parent="chassis" xyz="0.0 0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan2"/>

    <xacro:laser name="laser3" parent="chassis" xyz="-0.16 0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan3"/>

    <xacro:laser name="laser4" parent="chassis" xyz="-0.16 0.0 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan4"/>

    <xacro:laser name="laser5" parent="chassis" xyz="-0.16 -0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan5"/>

    <xacro:laser name="laser6" parent="chassis" xyz="0.0 -0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan6"/>

    <xacro:laser name="laser7" parent="chassis" xyz="0.16 -0.16 0.28" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan7"/>

    <xacro:laser name="laser8" parent="chassis" xyz="0.0 0.0 0.38" rpy="0 0 0"
      meshes="file://$(find p3dx_description)/meshes/laser" robot_namespace="$(arg robot_namespace)"
      gpu="true" scan="scan8"/>

  </xacro:if>

  <!-- GPU Laser -->
  <!--  <xacro:include filename="$(find
  description_plugins)/test/multi_robot_scenario/urdf/laser/hokuyo_gpu.xacro"/>-->
  <!--<xacro:laser_gpu
  name="front_laser2" parent="chassis" xyz="0.16 0 0.1" rpy="0 0 0" meshes="$(find
  description_plugins/test/multi_robot_scenario/meshes/laser" />-->

  <!-- Camera -->
  <xacro:if value="$(arg camera_enabled)">
  <xacro:include filename="$(find p3dx_description)/urdf/camera/camera.xacro" />
  <xacro:cam name="front_camera" parent="chassis" xyz="0 0 0.5" rpy="0 0 0"
    meshes="file://$(find p3dx_description)/meshes/camera" robot_namespace="$(arg robot_namespace)" />
  </xacro:if>

</robot>
