<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Front Laser -->
  <xacro:macro name="laser"
    params="gpu:=false scan:=scan name parent xyz rpy meshes robot_namespace">

    <joint name="${parent}_${name}_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>

    <link name="${name}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.1 0.1 0.1" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="${meshes}/hokuyo.dae" />
        </geometry>
      </visual>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
      <render_engine>ogre2</render_engine>
    </plugin>

    <xacro:if value="${gpu}">
      <gazebo reference="${name}">
        <sensor name='${name}' type='gpu_lidar'>
          <xacro:if value="${robot_namespace == '/'}">
            <topic>${scan}</topic>
            <gz_frame_id>${name}</gz_frame_id>
          </xacro:if>
          <xacro:unless value="${robot_namespace == '/'}">
            <topic>${robot_namespace}/scan</topic>
            <gz_frame_id>${robot_namespace}/${name}</gz_frame_id>
          </xacro:unless>
          <pose>0 0 0 0 0 0</pose>
          <update_rate>30</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>683</samples>
                <resolution>1</resolution>
                <max_angle>3.14159</max_angle>
                <min_angle>-3.14159</min_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.08</min>
              <max>30.0</max>
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </ray>
          <alwaysOn>1</alwaysOn>
          <visualize>true</visualize>
        </sensor>

        <!-- <sensor name="hls_lfcd_lds" type="gpu_lidar"> -->
        <!--   <always_on>true</always_on> -->
        <!--   <visualize>true</visualize> -->
        <!--   <pose>-0.064 0 0.15 0 0 0</pose> -->
        <!--   <update_rate>5</update_rate> -->
        <!--   <topic>$(arg namespace)/scan</topic> -->
        <!--   <gz_frame_id>base_scan</gz_frame_id> -->
        <!--   <ray> -->
        <!--     <scan> -->
        <!--       <horizontal> -->
        <!--         <samples>360</samples> -->
        <!--         <resolution>1.000000</resolution> -->
        <!--         <min_angle>0.000000</min_angle> -->
        <!--         <max_angle>6.280000</max_angle> -->
        <!--       </horizontal> -->
        <!--     </scan> -->
        <!--     <range> -->
        <!--       <min>0.00001</min> -->
        <!--       <max>20.0</max> -->
        <!--       <resolution>0.015000</resolution> -->
        <!--     </range> -->
        <!--     <noise> -->
        <!--       <type>gaussian</type> -->
        <!--       <mean>0.0</mean> -->
        <!--       <stddev>0.01</stddev> -->
        <!--     </noise> -->
        <!--   </ray> -->
        <!-- </sensor> -->

      </gazebo>
    </xacro:if>

    <xacro:unless value="${gpu}">
      <gazebo reference="${name}">
        <sensor name='lidar_${name}' type='lidar'>
          <xacro:if value="${robot_namespace == '/'}">
            <topic>${scan}</topic>
            <gz_frame_id>${name}</gz_frame_id>
          </xacro:if>
          <xacro:unless value="${robot_namespace == '/'}">
            <topic>${robot_namespace}/${scan}</topic>
            <gz_frame_id>${robot_namespace}/${name}</gz_frame_id>
          </xacro:unless>
          <update_rate>30</update_rate>
          <lidar>
            <scan>
              <horizontal>
                <samples>683</samples>
                <resolution>1</resolution>
                <max_angle>3.14159</max_angle>
                <min_angle>-3.14159</min_angle>
              </horizontal>
            </scan>
            <range>
              <min>0.08</min>
              <max>30.0</max>
              <resolution>0.01</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.001</stddev>
            </noise>
          </lidar>
          <alwaysOn>1</alwaysOn>
          <visualize>true</visualize>
        </sensor>
      </gazebo>
    </xacro:unless>

  </xacro:macro>

</robot>
