<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Camera -->
  <xacro:macro name="cam" params="name parent xyz rpy meshes robot_namespace">

    <joint name="${name}_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>

    <!-- Camera -->
    <link name="${name}">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0" />
        <geometry>
          <cylinder radius="0.03" length="0.1" />
          <!-- <mesh filename="${meshes}/camera.dae"/> -->
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 1.57 0" />
        <geometry>
          <cylinder radius="0.03" length="0.1" />
        </geometry>
      </collision>
    </link>

    <joint name="${name}_optical_joint" type="fixed">
      <parent link="${name}"/>
      <child link="${name}_optical"/>
      <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    </joint>

    <link name="${name}_optical"></link>

    <gazebo reference="${name}">
      <material value="Gazebo/Grey" />
    </gazebo>

    <gazebo reference="${name}">
      <sensor name="${name}" type="camera">
        <pose> 0 0 0 0 0 0 </pose>
        <visualize>true</visualize>
        <update_rate>30.0</update_rate>
        <camera>
          <camera_info_topic>${name}/camera_info</camera_info_topic>
            <horizontal_fov>1.089</horizontal_fov>
            <image>
                <format>R8G8B8</format>
                <width>640</width>
                <height>480</height>
            </image>
            <clip>
                <near>0.05</near>
                <far>8.0</far>
            </clip>
        </camera>
        <xacro:if value="${robot_namespace == '/'}">
          <topic>${name}/image_raw</topic>
          <gz_frame_id>${name}_optical</gz_frame_id>
        </xacro:if>
        <xacro:unless value="${robot_namespace == '/'}">
        <topic>${robot_namespace}/${name}/image_raw</topic>
        <gz_frame_id>${robot_namespace}/${name}_optical</gz_frame_id>
        </xacro:unless>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
