<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Camera -->
  <xacro:macro name="cam" params="name parent xyz rpy meshes robot_namespace">

    <joint name="${parent}_${name}_joint" type="fixed">
      <axis xyz="0 0 1" />
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${name}" />
    </joint>

    <!-- Camera -->
    <link name="${name}">
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 1.57 0" />
        <geometry>
          <cylinder radius="0.03" length="0.1" />
          <!-- <mesh filename="${meshes}/camera.dae"/> -->
        </geometry>
        <material name="grey" />
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 1.57 0" />
        <geometry>
          <cylinder radius="0.03" length="0.1" />
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}">
      <material value="Gazebo/Grey" />
    </gazebo>

    <gazebo reference="${name}">
      <sensor type="depth_camera" name="${name}">
        <update_rate>30.0</update_rate>
        <topic>${name}</topic>
        <gz_frame_id>${name}</gz_frame_id>
        <camera_info_topic>${name}/camera_info</camera_info_topic>
        <camera>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>300</far>
          </clip>
        </camera>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
