<?xml version="1.0"?>

<model>
  <name>charging_station</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Filipe Almeida</name>
    <email>filipe.almeida@mov.ai</email>
  </author>


  <maintainer email="filipe.almeida@mov.ia">Filipe Almeida</maintainer>


  <description>
    Charge model to work in GAZEBO simulator
  </description>
</model>
